body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: linear-gradient(120deg, #1e3c72, #2a5298);
  color: white;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  background: rgba(0,0,0,0.3);
  backdrop-filter: blur(10px);
}

/* BUTTONS */
button {
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  transform: scale(1.05);
}

/* CARD */
.card {
  background: white;
  color: black;
  padding: 20px;
  margin: 10px;
  border-radius: 12px;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

/* INPUT */
input {
  padding: 10px;
  margin: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
}